<div class="section-title section-total">
    <h2>Conheça Nossa Unidade</h2>
    <div class="container-responsivo">

        <div class="bloco-imagem">
            <img src="/assets/images/usf_frente_2.webp" alt="Descrição da imagem explicativa">
        </div>

        <div class="bloco-texto">
            <h2>Usf Vila São Miguel/ Marron Glacê</h2>
            <p>
                A Unidade de Saúde da Família Vila São Miguel/Marron Glacê fica localizada no Bairro de Afogados
                sendo composta por 4 equipes de saúde da família.
            </p>
            <p>
                As Equipes atuam na prevenção de doenças e promoção à saúde. Suas equipes multidisciplinares
                acompanham os moradores de um território específico, realizando consultas, vacinação, acompanhamento de
                gestantes, tratamento de doenças crônicas, atendimento odontológico e visitas domiciliares.
            </p>
            <p>
                A Unidade fica na Rua Emília Torreão - Afogados, Recife - PE.
            </p>
            <button class="btn-redirecionar" [routerLink]="['/profissionais/4']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <h3>Clique aqui para conhecer a equipe 4</h3>
            </button>
        </div>

    </div>

</div>