.section-total {
    scroll-margin-top: 80px;
    height: 100vh;
    padding: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 10rem;
    color: white;
    text-decoration: none;
}

.section-redirect {
    text-align: center;
    margin-bottom: 10rem;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(252, 255, 203);
}

.container-responsivo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    width: 100%;
    // box-sizing: border-box;
}

.bloco-imagem img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.bloco-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    max-width: 600px;
    color: #333333;
}

.btn-redirecionar {
    width: 100%;
    // background: linear-gradient(135deg, #2563eb 0%, #1d4ed8 100%);
    // color: #ffffff;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(37, 99, 235, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-redirecionar:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(37, 99, 235, 0.3);
}

.btn-redirecionar:active {
    transform: translateY(0);
}

.bloco-texto h2 {
    margin-top: 0;
    color: #1f2937;
}


@media (min-width: 768px) {
    .container-responsivo {
        flex-direction: row;
        align-items: center;
        gap: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .bloco-imagem {
        flex: 1;
    }

    .bloco-texto {
        flex: 1;
    }
}

.ico_ws {
    height: 32px;
    vertical-align: sub;
    padding-left: 3px;
}