<div class="app-container">
  <!-- Header -->
  <header class="header">
    <div class="header-content">
      <h1>USF Vila São Miguel/ Marron Glacê</h1>
      <p class="subtitle">Profissionais da equipe de saúde da familia</p>
      <p class="subtitle">Equipe 4</p>
    </div>
  </header>

  
  <!-- Navigation -->
  <nav class="navbar">
    <div class="nav-container">
      <ul class="nav-menu">
        <li><a [routerLink]="['/membros']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Membros da Equipe</a></li>
        <li><a [routerLink]="['/busca-ruas']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Buscar Ruas</a></li>
      </ul>
    </div>
  </nav>

  
  <!-- Main Content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2026. Todos os direitos reservados.</p>
    </div>
  </footer>
</div>
